# **ENGG680 - Introduction to Digital Engineering**
## *Lab Assignment 1: Using Git and Python for Collaborative Coding in Google Colab*

## Preliminary: Certificate of Work
### (5 Marks)

*We, the undersigned, certify that this is our own work, which has been done expressly for this course, either without the assistance of any other party or where appropriate we have acknowledged the work of others. Further, we have read and understood the section in the university calendar on plagiarism/cheating/other academic misconduct and we are aware of the implications thereof. We request that the total mark for this assignment be distributed as follows among group members:*

|          | First Name | Last Name | Signature (Full Name, Date) | Hours | Contribution % |
|----------|------------|-----------|-----------------------------|-------|----------------|
| Member 1: |Kwaku | Owusu | ko | 15 Hours | 33% |
| Member 2: | Tunde | Bademosi | tb | 15 Hours | 33% |
| Member 3: | Bukola | Sikiru | bs | 15 Hours | 33% |
| Member 4: |  |  |  |  |  |

## Part 1: Printing to the Console
### (6 Marks)

In [1]:
# In the space below, please print "Hello, World! Welcome to the Student Gradebook Management System."
# (1 mark)
print ("Hello, World! Welcome to Student Gradebook Management System")

Hello, World! Welcome to Student Gradebook Management System

In [2]:
# Fill in your information using the defined variables below:
# (1 mark)
lab_group_number = 40
intake_year = 2024
intake_semester = "Fall" #"Fall" or "Winter"

# Using f-strings and the variables above, print "This is implemented by Group <lab_group_number>, for ENGG680 <intake_semester> of <intake_year>"
# (2 marks)
implemented = f"This is implemented by Group {lab_group_number}, for ENGG680 {intake_semester} of {intake_year}"
print (implemented)

This is implemented by Group 40, for ENGG680 Fall of 2024

In [3]:
# Use indexing to print "The subjects involved in this grading system is English and Math." using "subjects" below.
# (2 marks)
subjects = ("English", "Math")
print(f"The subjects involved in this grading system is {subjects[0]} and {subjects[1]}")

The subjects involved in this grading system is English and Math

## Part 2: Using Pandas for Data Management and Analytics
### (20 marks)

In [4]:
# In the space below, please import the Pandas library
# (1 mark)
import pandas as pd

In [38]:
# Load the student grade CSV files into DataFrames using the defined variables
# (2 marks)
df_english = pd.read_csv('studentGrades_English.csv')
df_math = pd.read_csv('studentGrades_Math.csv')

In [37]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
!ls

README.md		   studentGrades_Math.csv  StudentManagementSystem.ipynb
studentGrades_English.csv  studentHomerooms.csv

In [40]:
%cd drive/MyDrive/Colab Notebooks

[Errno 2] No such file or directory: 'drive/MyDrive/Colab Notebooks'
/content/drive/MyDrive/Colab Notebooks/engg680_2024_fall/Lab_Assignment1

In [42]:
%cd engg680_2024_fall

[Errno 2] No such file or directory: 'engg680_2024_fall'
/content/drive/MyDrive/Colab Notebooks/engg680_2024_fall/Lab_Assignment1

In [41]:
%cd Lab_Assignment1/

[Errno 2] No such file or directory: 'Lab_Assignment1/'
/content/drive/MyDrive/Colab Notebooks/engg680_2024_fall/Lab_Assignment1

In [44]:
# Merging the DataFrames on 'studentID'
df_studentGrades = pd.merge(df_english, df_math, on='studentID', suffixes=('_English', '_Math'))

In [45]:
print(df_studentGrades.head())

  firstName_English lastName_English  studentID  grade_English firstName_Math  \
0              Emma            Smith      10959             95           Emma
1            Sophia         Robinson      75175             88         Sophia
2              Emma           Taylor      42257             87           Emma
3             David         Robinson      55148             86          David
4           Stephen            Curry      30303             90        Stephen

  lastName_Math  grade_Math
0         Smith          90
1      Robinson          95
2        Taylor          85
3      Robinson          87
4         Curry          88

In [46]:
# Take a look at the data contained in the csv files. Why is studentID chosen as the key?
# (1 mark)
student_key = "The Student ID is a unique identifier to merge a student grade in both math and english"
print(student_key)

The Student ID is a unique identifier to merge a student grade in both math and english

In [47]:
# Let's calculate the average GPA across the two classes for each student
df_studentGrades['GPA'] = df_studentGrades[['grade_English', 'grade_Math']].mean(axis=1)

# Now let's check the data! In the space below, please use the .head method to display the dataframe.
# (1 mark)
print(df_studentGrades.head())

  firstName_English lastName_English  studentID  grade_English firstName_Math  \
0              Emma            Smith      10959             95           Emma
1            Sophia         Robinson      75175             88         Sophia
2              Emma           Taylor      42257             87           Emma
3             David         Robinson      55148             86          David
4           Stephen            Curry      30303             90        Stephen

  lastName_Math  grade_Math   GPA
0         Smith          90  92.5
1      Robinson          95  91.5
2        Taylor          85  86.0
3      Robinson          87  86.5
4         Curry          88  89.0

In [48]:
# Do you notice a problem? The rows for first name and last name have been duplicated!
# .drop(columns=['<column_name1>','<column_name2>'] is a Pandas method that can be used to drop columns.
# In the space below, drop the first name and last name associated with the math .csv file.
# (2 mark)
df_studentGrades = df_studentGrades.drop(columns=['firstName_English', 'lastName_English'])

In [49]:
# Let's display the data again. Use an appropriate method (hint: already used before)
# (1 mark)
print(df_studentGrades.head())

   studentID  grade_English firstName_Math lastName_Math  grade_Math   GPA
0      10959             95           Emma         Smith          90  92.5
1      75175             88         Sophia      Robinson          95  91.5
2      42257             87           Emma        Taylor          85  86.0
3      55148             86          David      Robinson          87  86.5
4      30303             90        Stephen         Curry          88  89.0

In [50]:
# Let's also rename the first and last names appropriately.
# Complete the code in the space below by replacing "<>" with the proper column name
# (1 mark)

df_studentGrades = df_studentGrades.rename(columns={
    'firstName_Math': 'firstName',
    'lastName_Math': 'lastName',
    'grade_English': 'englishGrade',
    'grade_Math': 'mathGrade'
    })

In [51]:
print(df_studentGrades.head())

   studentID  englishGrade firstName  lastName  mathGrade   GPA
0      10959            95      Emma     Smith         90  92.5
1      75175            88    Sophia  Robinson         95  91.5
2      42257            87      Emma    Taylor         85  86.0
3      55148            86     David  Robinson         87  86.5
4      30303            90   Stephen     Curry         88  89.0

In [53]:
# Now let's find out some statistics about our student grades!
# Please use an appropriate Pandas method in the space below to display statistical values like
# mean, standard deviation, min, max, and others.
# (1 mark)
print(df_studentGrades.describe())

          studentID  englishGrade  mathGrade       GPA
count     14.000000     14.000000  14.000000  14.00000
mean   54086.714286     86.928571  88.571429  87.75000
std    24610.266586      6.145221   5.918865   3.63609
min    10959.000000     76.000000  79.000000  82.00000
25%    33291.500000     82.500000  85.250000  84.50000
50%    58087.000000     87.500000  87.500000  89.00000
75%    72214.250000     90.750000  91.500000  90.50000
max    90449.000000     98.000000  99.000000  92.50000

In [55]:
# Do you notice a problem?
# Some statistics are not relevant. The average of studentIDs have no meaning in reality!
# Let's typecast each column appropriately so as to only get meaningful statistics.
# In the code below, replace '<>' by choosing between 'str' for string or 'float' for float
# to properly typecast each column.
# (3 marks)
df_studentGrades['studentID'] = df_studentGrades['studentID'].astype(int)
df_studentGrades['firstName'] = df_studentGrades['firstName'].astype(str)
df_studentGrades['lastName'] = df_studentGrades['lastName'].astype(str)
df_studentGrades['englishGrade'] = df_studentGrades['englishGrade'].astype(float)
df_studentGrades['mathGrade'] = df_studentGrades['mathGrade'].astype(float)
df_studentGrades['GPA'] = df_studentGrades['GPA'].astype(float)

In [54]:
# Now let's see our statistics!
df_studentGrades.describe()

          studentID  englishGrade  mathGrade       GPA
count     14.000000     14.000000  14.000000  14.00000
mean   54086.714286     86.928571  88.571429  87.75000
std    24610.266586      6.145221   5.918865   3.63609
min    10959.000000     76.000000  79.000000  82.00000
25%    33291.500000     82.500000  85.250000  84.50000
50%    58087.000000     87.500000  87.500000  89.00000
75%    72214.250000     90.750000  91.500000  90.50000
max    90449.000000     98.000000  99.000000  92.50000

In [56]:
# Now sort the merged dataframe so that it is in descending order based on GPA, and print it
# (1 mark)
df_studentsGPASorted = df_studentGrades.sort_values(by='GPA', ascending=False)
print(df_studentsGPASorted.head())

    studentID  englishGrade firstName  lastName  mathGrade   GPA
0       10959          95.0      Emma     Smith       90.0  92.5
12      47991          98.0      Sara       Doe       86.0  92.0
1       75175          88.0    Sophia  Robinson       95.0  91.5
9       90449          82.0      Anne     Clark       99.0  90.5
10      62137          92.0      Ryan    Thomas       89.0  90.5

In [57]:
# If we wanted to access the student with the highest gpa based on df_studentsGPASorted,
# does .iloc or .loc make more sense and why?
# (2 marks)
#.iloc is integer-base indexing e.g when one to go 1st or 4th row/column
#while .loc is a string/label base indexing e.g when one want to access row/column by the heading nametag
#.loc make more sense as it more precise and descriptive for which row/column one is accessing

In [58]:
# Now using the method you specified, assign the variable below to the row containing the student with the highest GPA
# (1 mark)
max_gpa = df_studentGrades['GPA'].max()
top_student = df_studentGrades.loc[df_studentGrades['GPA'] == max_gpa]
print(top_student)

   studentID  englishGrade firstName lastName  mathGrade   GPA
0      10959          95.0      Emma    Smith       90.0  92.5

In [59]:
# Now print the student first name and last name with the highest GPA in this format:
# "The student with the highest GPA is <firstName> <lastName> with a GPA of <GPA>"
# (1 mark)
for index, student in top_student.iterrows():
  print(f" {student['firstName']}  {student['lastName']} with a GPA: {student['GPA']}")

 Emma  Smith with a GPA: 92.5

In [26]:
# We can use logical expressions to filter and print data. For example, let's print the students with math grades higher than 90:
df_mathGrade_over90 = df_studentsGPASorted[df_studentsGPASorted['mathGrade'] > 90]
print(df_mathGrade_over90)

   studentID  englishGrade firstName  lastName  mathGrade   GPA
1      75175          88.0    Sophia  Robinson       95.0  91.5
9      90449          82.0      Anne     Clark       99.0  90.5
8      61026          80.0     Sarah     Swift       98.0  89.0
7      87707          76.0     James     Jones       92.0  84.0

In [60]:
# Now print the students whos GPA are lower than 85
# (2 marks)
df_GPA_below85 = df_studentsGPASorted[df_studentsGPASorted['GPA'] < 85]
print(df_GPA_below85)

    studentID  englishGrade firstName  lastName  mathGrade   GPA
7       87707          76.0     James     Jones       92.0  84.0
5       72824          88.0  Isabella  Thompson       79.0  83.5
13      25376          80.0   Matthew     White       85.0  82.5
6       70385          84.0   Jasmine     Smith       80.0  82.0

## Part 3: More Data Analytics using Pandas
### (20 marks)

In [61]:
# Select the column 'grade' from the original English grade dataset and print it
# (1 mark)
english_grades = df_english['grade']
print(english_grades)

0     95
1     88
2     87
3     86
4     90
5     88
6     84
7     76
8     80
9     82
10    92
11    91
12    98
13    80
Name: grade, dtype: int64

In [62]:
# Select the column 'GPA' from the df_studentGrades and print it
# (1 mark)
print(df_studentGrades['GPA'])

0     92.5
1     91.5
2     86.0
3     86.5
4     89.0
5     83.5
6     82.0
7     84.0
8     89.0
9     90.5
10    90.5
11    89.0
12    92.0
13    82.5
Name: GPA, dtype: float64

In [64]:
# What is the data type of grade from the English grade dataset?
# (0.5 mark)
print(df_english['grade'].dtype)

# What is the data type of GPA from the merged dataset?
# (0.5 mark)
print(df_studentGrades['GPA'].dtype)

# Is it different? Why?
# (1 mark)
diff = "Yes it's different because the grade are whole numbers without decimal point called integer while GPA are not but with decimal points called float"
print(diff)

int64
float64
Yes it's different because the grade are whole numbers without decimal point called integer while GPA are not but with decimal points called float

In [65]:
# Load the student homeroom CSV file into a DataFrame using the following variable name
# (1 mark)
df_homeroom = pd.read_csv('studentHomerooms.csv')
print(df_homeroom.head())

  firstName  lastName  studentID  homeRoom
0      Emma     Smith      10959       313
1    Sophia  Robinson      75175       311
2      Emma    Taylor      42257       311
3     David  Robinson      55148       313
4   Stephen     Curry      30303       313

In [66]:
# Merge the studentHomerooms with the merged dataset. Make sure that the key you are joining on are the same typecast for both datasets.
# Also ensure that there are no redundant columns, and finally display the first few rows.
# Hint: try joining on more than one column to avoid having to drop redundant columns, ie. on=['studentID', '<ColumnA>', '<ColumnB>'] ...
# (5 marks)
df_homeroom['studentID'] = df_homeroom['studentID'].astype(int)
df_studentGrades['studentID'] = df_studentGrades['studentID'].astype(int)

In [67]:
#Merging studentHrooms with datase
df_merged = pd.merge(df_studentGrades, df_homeroom, on=['studentID'])

In [68]:
#display merged dataframe
print(df_merged.head())

   studentID  englishGrade firstName_x lastName_x  mathGrade   GPA  \
0      10959          95.0        Emma      Smith       90.0  92.5
1      75175          88.0      Sophia   Robinson       95.0  91.5
2      42257          87.0        Emma     Taylor       85.0  86.0
3      55148          86.0       David   Robinson       87.0  86.5
4      30303          90.0     Stephen      Curry       88.0  89.0

  firstName_y lastName_y  homeRoom
0        Emma      Smith       313
1      Sophia   Robinson       311
2        Emma     Taylor       311
3       David   Robinson       313
4     Stephen      Curry       313

In [69]:
# The code below calculates the mean of each homeroom class.
df_studentInfo = df_merged
df_grouped = df_studentInfo.groupby('homeRoom')['GPA'].mean()
print(df_grouped)

homeRoom
311    88.785714
313    86.714286
Name: GPA, dtype: float64

In [70]:
# Which homeroom has a higher GPA?
# (1 mark)
df_grouped_sorted = df_grouped.sort_values(ascending=False)
print("Homeroom with the highest GPA:")
print(df_grouped_sorted.head(1))

Homeroom with the highest GPA:
homeRoom
311    88.785714
Name: GPA, dtype: float64

In [72]:
# Now let's work with multiple sorts. The .sort_values() method can sort by multiple columns, meaning you can specify a primary column and a secondary column for sorting.
# For example, by=['ColumnA', 'ColumnB'] will first sort by ColumnA and then by ColumnB.
# Create and print a DataFrame, df_studentsGPASorted_homeroom, which is sorted by homeRoom and then by GPA, both in descending order.
# (3 mark)
df_studentsGPASorted_homeroom = df_merged.sort_values(by=['homeRoom', 'GPA'], ascending=[False, False])
print(df_studentsGPASorted_homeroom.head())

    studentID  englishGrade firstName_x lastName_x  mathGrade   GPA  \
0       10959          95.0        Emma      Smith       90.0  92.5
10      62137          92.0        Ryan     Thomas       89.0  90.5
4       30303          90.0     Stephen      Curry       88.0  89.0
3       55148          86.0       David   Robinson       87.0  86.5
7       87707          76.0       James      Jones       92.0  84.0

   firstName_y lastName_y  homeRoom
0         Emma      Smith       313
10        Ryan     Thomas       313
4      Stephen      Curry       313
3        David   Robinson       313
7        James      Jones       313

In [73]:
# Do you notice a problem with the indices? They are basically meaningless now that we have sorted by homeroom and GPA.

# The code below changes the index of the dataframe so that it is more intuitive.
df_studentsGPASorted_homeroom['studentRank'] = df_studentsGPASorted_homeroom.groupby('homeRoom').cumcount() + 1
df_studentsGPASorted_homeroom['newIndex'] = df_studentsGPASorted_homeroom['homeRoom'].astype(str) + '-' + df_studentsGPASorted_homeroom['studentRank'].astype(str)
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.set_index('newIndex')
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.drop(columns=['studentRank'])

print(df_studentsGPASorted_homeroom)

          studentID  englishGrade firstName_x lastName_x  mathGrade   GPA  \
newIndex
313-1         10959          95.0        Emma      Smith       90.0  92.5
313-2         62137          92.0        Ryan     Thomas       89.0  90.5
313-3         30303          90.0     Stephen      Curry       88.0  89.0
313-4         55148          86.0       David   Robinson       87.0  86.5
313-5         87707          76.0       James      Jones       92.0  84.0
313-6         25376          80.0     Matthew      White       85.0  82.5
313-7         70385          84.0     Jasmine      Smith       80.0  82.0
311-1         47991          98.0        Sara        Doe       86.0  92.0
311-2         75175          88.0      Sophia   Robinson       95.0  91.5
311-3         90449          82.0        Anne      Clark       99.0  90.5
311-4         61026          80.0       Sarah      Swift       98.0  89.0
311-5         25477          91.0      Daniel      White       87.0  89.0
311-6         42257          87.0        Emma     Taylor       85.0  86.0
311-7         72824          88.0    Isabella   Thompson       79.0  83.5

         firstName_y lastName_y  homeRoom
newIndex
313-1           Emma      Smith       313
313-2           Ryan     Thomas       313
313-3        Stephen      Curry       313
313-4          David   Robinson       313
313-5          James      Jones       313
313-6        Matthew      White       313
313-7        Jasmine      Smith       313
311-1           Sara        Doe       311
311-2         Sophia   Robinson       311
311-3           Anne      Clark       311
311-4          Sarah      Swift       311
311-5         Daniel      White       311
311-6           Emma     Taylor       311
311-7       Isabella   Thompson       311

In [ ]:
# Describe what each coding line in the cell above is doing
# (4 marks)
#

In [ ]:
# Given df_studentsGPASorted_homeroom, please find and print the students with the highest GPA in each homeroom using the .loc method.
# (2 marks)
#

## Part 4: Using Matplotlib for Data Analytics
### (14 marks)

In [ ]:
# In the space below, please import the matplotlib library
# (1 mark)

In [ ]:
# Let's use matplotlib to display a histogram of the grades distribution
# Histograms are useful for seeing the distribution of the students grades

plt.figure(figsize=(10, 6))
plt.hist(df_studentGrades['englishGrade'], bins=10, alpha=0.7, label='English Grades', color='blue')

# Step 1: Use the line above as reference to create a histogram for the math grades
# (1 mark)
#

# Step 2: Ensure that your plot is descriptive, so use labels (x and y axis), a title, and a legend.
# Hint: Use the matplotlib .legend(loc='<location>') to add and place the legend.
# You can use 'upper left', 'upper right', 'lower left', and 'lower right' to specify the location.
# (4 marks)
#
plt.grid(True)

# Step 3: Use the .savefig('<image_title>'.png) to output an image file of the histogram.
# Please be sure to use a descriptive title!
# (1 mark)
#

plt.show()

In [ ]:
# Let's also use matplotlib to display a scatter plot of English vs. Math grades
# Scatter plots are useful for seeing the relationship between two variables
plt.figure(figsize=(10, 6))

# Step 1: Use .scatter(x_data, y_data) to create a scatter plot using the English grades on the x-axis, and Math grades on the y-axis
# (2 mark)
#

# Step 1: Properly label the x and y axes as well as the title of your plot.
# (3 marks)
#
plt.grid(True)

# Step 2: Output an image file for the scatter plot with a descriptive file name
# (1 mark)
#

plt.show()

In [ ]:
# From the scatter plot, is there a relationship between the Math and English grades?
# (1 mark)
#